<p style="color: green"><%= notice %></p>

<div class='p-5 mb-4 bg-dark rounded-3'>
  <div class="container-fluid py-5 text-white">
    <h1 class="display-5 fw-bold"><%= @friend.first_name%>  <%= @friend.last_name %></h1>
    <div>
      <h5>Email: <%= @friend.email%></h5>
      <h5>Phone: <%= @friend.phone%></h5>
      <h5>Twitter: <%= @friend.twitter%></h5>
    </div>
  </div>

</div>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
</div>
